<tr class="app_line_<%= app_line.id%>">
	<td><label><%= "#{app_line.item.full_name}"%></label></td>
	<td><label><%= app_line.price%></label></td>
	<td><%= app_line.quarter1%></td>
	<td><%= app_line.quarter2%></td>
	<td><%= app_line.quarter3%></td>
	<td><%= app_line.quarter4%></td>
</tr>
