<tr class="app_line_<%=app_line.id%>">
	<input name = "app_office[app_lines_attributes][<%= app_line.id%>][id]" type='hidden' value= '<%= app_line.id %>' />
	<input name = "app_office[app_lines_attributes][<%= app_line.id%>][app_master_line][id]" type='hidden' value= '<%= app_line.app_master_line.id%>' />
	<td width="200px"><label><%="#{app_line.item.full_name}"%></label></td>
	<td width="75px"><label><%=app_line.price%></label></td>
	<td width="75px"><input type="text" class="input-small" name="app_office[app_lines_attributes][<%= app_line.id%>][quarter1]" value="<%=app_line.quarter1%>"></td>
	<td width="75px"><input type="text" class="input-small" name="app_office[app_lines_attributes][<%= app_line.id%>][quarter2]" value="<%=app_line.quarter2%>"></td>
	<td width="75px"><input type="text" class="input-small" name="app_office[app_lines_attributes][<%= app_line.id%>][quarter3]" value="<%=app_line.quarter3%>"></td>
	<td><input type="text" class="input-small" name="app_office[app_lines_attributes][<%= app_line.id%>][quarter4]" value="<%=app_line.quarter4%>"></td>
</tr>
