<%= form_for [@office,@app_office] do |f| %>
<% if @app_office.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@app_office.errors.count, "error") %> prohibited this app template from being saved:</h2>

	<ul>
		<% @app_office.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>

<div>
	<%= f.label :control_number %>
	<%= f.text_field :control_number , {:placeholder => "Control #", :class => "input-small"}%>
</div>
<br />

<div class="app_lines">
	<table class="table table-striped table-condensed table-hover">
		<thead>
			<tr>
				<th>Item</th>
				<th>Price</th>
				<th>Quarter 1</th>
				<th>Quarter 2</th>
				<th>Quarter 3</th>
				<th>Quarter 4</th>
			</tr>
		</thead>
		<tbody>
			<% category = nil%>
			<% @app_office.app_lines.each do|app_line| %>
			<% if(app_line.item.article.article_category != category) %>
			<% category = app_line.item.article.article_category%>
			<tr>
				<td align="center" colspan="6"><h3><%= category.name%></h3></td>
			</tr>
			<% end%>
			<%= render "app_line_fields", :app_line => app_line%>
			<% end %>
		</tbody>
	</table>
</div>

<div class="form-actions">
	<input type="submit" value="<%= @app_office.new_record? ? "Create" : "Save Changes" %>" class="btn btn-primary" />
	<%= link_to 'Back', office_app_offices_path, {:class=>"btn"}%>
</div>
<% end %>

