<div class ="items" id = 'item_<%= item.id%>'>
	<li><input type = "checkbox" name = "app_office[app_master][item_ids][]" <%= "checked" if master.items.include? item%> value = '<%= item.id%>'> <%= item_value item.id%></li>
</div>
