<div class = "master" id = "master_<%= master.id %>">
	<input name = 'app_office[app_master][id]' type='hidden' value= '<%= master.id %>' />
	<p>Template</p>
	<div class="items">
	  	<h3>Items</h3>
	  	<% @item_category.each do|category| %>
	  		<li class = "category"> <%= category.name%> </li>
	  		<ul>
	  		<% category.articles.each do |article|%>
	  			<li class = "article"> <%= article.name %> </li>
	  			<ul>
	  			<% article.items.each do |item| %>
	  				<%= render "item_fields", :item => item, :object => master, :master => master%>
				<% end %>  			  			
				</ul>
		  	<% end %>
		  	</ul>  		
	  	<% end %>
	 </div>
</div>
