<h1>APPS for <%= @office.name %></h1>
<hr/>

<br />
<table class="table table-striped">
	<thead>
		<tr>
			<th>Date Scheduled</th>
			<th>Year</th>
		</tr>
	</thead>

	<tbody>
		<% @app_offices.each do|app| %>
		<tr>
			<td width="100px"><%= app.app_master.date_scheduled.to_formatted_s(:long) %></td>
			<td width="50px"><%= date_to_year app.app_master.year %></td>
			<td> <%= link_to 'Show', office_app_office_path(@office,app) %>
			<% if !app.sent %>
			| <%= link_to 'Edit', edit_office_app_office_path(@office,app) %>
			<% end %> </td>
		</tr>
		<% end %>
	</tbody>
</table>

<div class="form-actions">
	<%= link_to "Back", office_path(@office) , {:class=>"btn"}%>
</div>

