<%= javascript_include_tag 'app_offices' %>

<style type="text/css" media="all">

    div.printable * {
        font-family: 'Times New Roman';
        font-size: 12px;
    }

    table {
        border-collapse: collapse;
    }

    .page-break {
        page-break-after: always;
    }

    td, th {
        padding-left: 5px;
        padding-right: 5px;
        vertical-align: middle;
    }

    #main-header {
        font-weight: bold;
        text-align: center;
        margin-bottom: 30px;
    }

    thead {
        border: 1px solid black;
        display: table-header-group;
    }

    tfoot {
        border: 0;
    }
</style>

<style type="text/css" media="print">
    body {
        width: 13in;
        height: 8.5in;
    }

    #main-nav {
        display: none;
    }

    #main-footer {
        display: none;
    }

</style>
<div class="printable">

  <header id="main-header">
    <div><%= @app.app_master.year %> ANNUAL PROCUREMENT PLAN</div>
    <div>University of the Philippines Visayas Tacloban College</div>
  </header>
  <div><b>Name of Unit/Office: UPV TACLOBAN COLLEGE</b></div>

  <table width="100%" border="1">
    <!----------------- Main Header ------------------>
    <tr>
      <th align="left" rowspan="3" colspan="4">
        <p>Plan Control No.: <%= @app.control_number %></p>

        <p>Department/Office: <u><%= @app.office.name %></u></p>
      </th>
      <th align="center" colspan="6">
        Planned Amount
      </th>
      <th width="26%" colspan="4" rowspan="3">
        <p>Date Scheduled:</p>

        <p><%= @app.app_master.date_scheduled %></p>
      </th>
    </tr>
    <tr>
      <th align="center" colspan="2" rowspan="2">
        <p>Regular</p>

        <p><%= format_amount @app.regular %></p>
      </th>
      <th align="center" colspan="2" rowspan="2">
        <p>Contingency</p>

        <p><%= format_amount @app.contingency %></p>
      </th>
      <th align="center" colspan="2" rowspan="2">
        <p>Total</p>

        <p><%= format_amount @app.total %></p>
      </th>
    </tr>
  </table>

  <table width="100%" border="1">
    <!----- Per Page Header --------->
    <thead class="items">
    <tr><td colspan="14" height="0px" style="background: #000"></td></tr>
    <tr>
      <th width="6%"></th>
      <th width="30%"></th>
      <th align="center" colspan="12">QUARTERS</th>
    </tr>
    <tr>
      <th align="center" rowspan="2">Stock No.</th>
      <th align="center" rowspan="2" width="50%">ARTICLES and SPECIFICATIONS</th>
      <th align="center" width="4%" rowspan="2">Unit</th>
      <th align="center" width="4%" rowspan="2">Qty</th>
      <th align="center" width="5%" rowspan="2">Price</th>
      <th align="center" colspan="2">1st</th>
      <th align="center" colspan="2">2nd</th>
      <th align="center" colspan="2">3rd</th>
      <th align="center" colspan="2">4th</th>
      <th align="center" width="11%" rowspan="2">Total Amount</th>
    </tr>
    <tr>
      <th align="center">Qty</th>
      <th align="center">Amount</th>
      <th align="center">Qty</th>
      <th align="center">Amount</th>
      <th align="center">Qty</th>
      <th align="center">Amount</th>
      <th align="center">Qty</th>
      <th align="center">Amount</th>
    </tr>
    </thead>

    <tbody>
    <% @app.app_line_by_category.each do |cat, lines| %>
        <tr class="items">
          <td></td>
          <td align="center"><b><%= cat.name %></b></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <% lines.each do |line| %>
            <tr class="items">
              <td><%= line.item.stock_number %></td>
              <td><%= line.item.article.name.upcase %>, <%= line.item.specification %></td>
              <td align="center"><%= line.item.unit %></td>
              <td align="center"><%= format_quantity line.quantity %></td>
              <td align="center"><%= format_amount line.item.price %></td>
              <td align="center"><%= format_quantity line.quarter1 %></td>
              <td align="center"><%= format_amount line.quarter1_amount %></td>
              <td align="center"><%= format_quantity line.quarter2 %></td>
              <td align="center"><%= format_amount line.quarter2_amount %></td>
              <td align="center"><%= format_quantity line.quarter3 %></td>
              <td align="center"><%= format_amount line.quarter3_amount %></td>
              <td align="center"><%= format_quantity line.quarter4 %></td>
              <td align="center"><%= format_amount line.quarter4_amount %></td>
              <td align="center"><%= format_amount line.total %></td>
            </tr>
        <% end %>
    <% end %>
    </tbody>

    <tfoot>
    <tr>
      <td colspan="5" align="right" width="55.9%">
        TOTAL AMOUNT
      </td>
      <td colspan="2">&nbsp;</td>
      <td colspan="2">&nbsp;</td>
      <td colspan="2">&nbsp;</td>
      <td colspan="2">&nbsp;</td>
      <td align="center" width="8.8%"></td>
    </tr>
    <tr><td colspan="14" height="0px" style="background: #000"></td></tr>
    </tfoot>
  </table>

  <table width="100%">
    <tr>
      <td height="50px" colspan="14">This is to certify that the above procurement plan is in accordance with the
        objectives of this unit.
      </td>
    </tr>
    <tr>
      <td colspan="2">Prepared by:</td>
      <td colspan="12"></td>
    </tr>
    <tr>
      <td colspan="2">______________________________________________</td>
      <td colspan="12"></td>
    </tr>
    <tr>
      <td colspan="7"></td>
      <td colspan="7"><p>Recommended by:</p></td>
    </tr>
    <tr>
      <td colspan="7"></td>
      <td align="center" colspan="7">
        <p>__________________________________</p>

        <p>Chair</p>
      </td>
    </tr>
  </table>
</div>
