<a class="btn pull-right" href="<%= print_office_app_office_path %>"><i class="icon-print"></i> Print</a>

<h1>APP for <%= @office.name %> </h1>
<hr />

<div>
  <b>Control Number:</b>
  <%= @app_office.control_number %>
</div>

<div>
  <b>Date Schedule:</b>
  <%= @app_office.app_master.date_scheduled.to_formatted_s(:long) %>
</div>

<div>
  <b>Year:</b>
  <%= date_to_year @app_office.app_master.year %>
</div>

<div>
  <b>Remarks:</b>
  <%= @app_office.sent ? "Sent at " << @app_office.date_sent.to_formatted_s(:long) : "Not yet sent" %>
</div>

<br/>

<div class="app_lines">
  <table class="table table-striped table-condensed table-hover">
    <thead>
    <tr>
      <th width="200px">Item</th>
      <th width="75px">Price</th>
      <th width="75px">Quarter 1</th>
      <th width="75px">Quarter 2</th>
      <th width="75px">Quarter 3</th>
      <th>Quarter 4</th>
    </tr>
    </thead>
    <tbody>
    <% category = nil %>
    <% @app_office.app_lines.each do |app_line| %>
        <% if (app_line.item.article.article_category.name != category) %>
            <% category = app_line.item.article.article_category.name %>
            <tr>
              <td colspan="6"><h3><%= category %></h3></td>
            </tr>
        <% end %>
        <%= render "app_line", :app_line => app_line %>
    <% end %>
    </tbody>
  </table>
</div>

<div class="form-actions">
  <% if (!@app_office.sent) %>
      <%= link_to "Submit", submit_office_app_office_path(@office, @app_office), {:class => "btn btn-primary"} %>
      <%= link_to "Update", edit_office_app_office_path(@office, @app_office), {:class => "btn"} %>
  <% end %>
  <%= link_to 'Back', office_app_offices_path, {:class => "btn"} %>
</div>
