<%= form_for @app_master do |f| %>
    <% if @app_master.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@app_master.errors.count, "error") %> prohibited this app template from being saved:</h2>

          <ul>
            <% @app_master.errors.full_messages.each do |msg| %>
                <li>
                  <%= msg %>
                </li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div>
      <label for="app_master_date_scheduled">Date Scheduled</label>
      <%= f.date_select :date_scheduled, {}, {:class => "input-small"} %>
    </div>

    <div class="field">
      <label for="app_master_year">Year</label>
      <%= select_year Date.today, {start_year: 2000, end_year: Time.now.year + 3}, {class: 'input-small', name: 'app_master[year]'}%>
    </div>
    <br/>

    <%= render "items_fields_table"%>

    <div class="form-actions">
      <input type="submit" value="<%= @app_master.new_record? ? "Create" : "Save Changes" %>" class="btn btn-primary"/>
      <%= link_to 'Back', @app_master.new_record? ? app_masters_path : app_master_path, {:class => 'btn'} %>
    </div>
<% end %>
