<tr>
	<td width="1px">
	<input type = "checkbox" name = "selected_items[]" <%= "checked" if @app_master.has_item? item%> value = '<%= item.id%>'>
	</td>
	<td width="250px"> <%= item.full_name%> </td>
	<td><%= item.current_price %></td>
</tr>
