<div class="items">
	<table class="table table-striped">
		<caption><h3>Items List</h3></caption>
		<thead>
			<tr>
				<th colspan="2">Items</th>
				<th>Price</th>
			</tr>
		</thead>
		<tbody>
			<% @item_category.each do|category| %>
			<tr >
			<td colspan="3">
				<h4> <%= category.name%>
			</td> </h4> </tr>
			<% category.articles.each do |article|%>
			<% article.items.each do |item| %>
			<%= render "item_fields", :item => item%>
			<% end %>
			<% end %>
			<% end %>
		</tbody>
	</table>
</div>