<div class="items">
	<table class="table table-striped">
		<caption>
			<h3>Items List</h3>
		</caption>
		<thead>
			<tr>
				<th width="250px">Items</th>
				<th>Price</th>
			</tr>
		</thead>
		<tbody>
			<% @item_category.each do|category| %>
			<% if @app_master.has_article_category? category %>
			<tr >
				<td colspan="2"><h4> <%= category.name%> </td> </h4>
			</tr>
			<% category.articles.each do |article|%>
			<% if @app_master.has_article? article%>
			<% article.items.each do |item| %>
			<% if @app_master.has_item? item  %>
			<tr>
				<td colspan><%= item.full_name %></td>
				<td colspan><%= @app_master.get_line(item).price %></td>
			</tr>
			<% end %>
			<% end %>
			<% end %>
			<% end %>
			<% end %>
			<% end %>
		</tbody>
	</table>
</div>