<% if distributed?  %> <h3>Office Distribution List</h3>
<div class="app_offices">
	<table class="table table-striped">
		<thead>
			<tr>
				<td width="200px">Office</td>
				<td>Remarks</td>
			</tr>
		</thead>
		<tbody>
			<% cur_cat = nil%>
			<% sort_app_by_office(@app_master).each do|app_office|%>
			<% if cur_cat != app_office.office.category %>
			<% cur_cat = app_office.office.category   %>
			<tr>
				<td colspan="2"><b><%= category_value cur_cat %></b> <% if can_consolidate? cur_cat %>
				&nbsp;
				<% app = has_consolidated? cur_cat %>
				<% if app %>
				<%= link_to 'View Consolidated APP', app_master_app_path(@app_master,app), {:class => "btn btn-success"} %>
				<% else %>
				<%= link_to 'Consolidate',new_app_master_app_path(@app_master,{:office_category=>cur_cat}), {:class=>"btn btn-primary"} %>
				<% end %>
				
				<% end %> </td>
			</tr>
			<% end %>
			<tr>
				<td><%= app_office.office.name %></td>
				<td><%= app_office.sent ? "Sumbitted at " << app_office.date_sent.to_formatted_s(:long) : "Not yet sumbitted" %></td>
			</tr>
			<% end%>
			<x/tbody>
	</table>
</div>
<% end %>