<h1>Distribute APP no: <%= @app_master.control_number %> </span></h1>
<hr/>


<h2>Offices</h2>

<form action=<%= deliver_app_master_path(@app_master) %>>
<div>
<% @offices.each do |office|  %>
	<%= render "strip",:office=>office %>
<% end  %>
</div>
<br />

<input type="submit"  value="Send" class="btn btn-primary"/>
<%= link_to 'Back', app_master_path(@app_master), {:class=>"btn"}%>
</form>

