<h1>APP Masters</h1>
<hr/>

<table class="table table-striped">
	<thead>
		<tr>
			<th width = "150px">Date scheduled</th>
			<th>Year</th>
			<th></th>
		</tr>
	</thead>

	<tbody>
		<% @app_masters.each do |app_master| %>
		<tr>
			<td width="100px"><%= app_master.date_scheduled.to_formatted_s(:long)%></td>
			<td width="100px"><%= app_master.year %></td>
			<td><%= link_to 'Show', app_master %> |
			<% if !distributed? app_master %>
			<%= link_to 'Edit', edit_app_master_path(app_master) %> |
			<% end %>
			<%= link_to 'Destroy', app_master, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		</tr>
		<% end %>
	</tbody>
</table>

<div class="form-actions">
	<%= link_to 'New App template', new_app_master_path, {:class=>"btn btn-primary"} %>
</div>
