<h2>APP Master</h2>
<hr />

<div>
	<b>Date scheduled:&thinsp;</b>
	<%= @app_master.date_scheduled.to_formatted_s(:long) %>
</div>

<div>
	<b>Year:&thinsp;</b>
	<%= date_to_year @app_master.year%>
</div>

<%= render "items_list"%>

<%= render "office_distribution_list" %>

<div class="form-actions">
	<% if !distributed? %>
	<%= link_to 'Distribute APP', deliver_to_offices_app_master_path, {:class=>"btn btn-primary"} %>
	<%= link_to 'Edit', edit_app_master_path(@app_master), {:class => "btn"} %>
	<% end %>
	<%= link_to 'Back', app_masters_path, {:class => "btn"} %>
</div>
