<a href="#edit-profile-modal" data-toggle="modal">Edit Profile</a>

<div id="edit-profile-modal" class="modal fade hide">
  <div class="modal-header well well-small"><h2>Edit Profile</h2></div>
  <div class="modal-body">
    <%= render 'profiles/form' %>
  </div>
</div>