<%= javascript_include_tag 'profile-form' %>

<%= form_for @profile, html: {id: 'profile-form', class: 'form-horizontal'} do |f| %>

    <div class="form-error alert alert-error hide">

    </div>

    <div class="control-group">
      <%= f.label :first_name, class: 'control-label' %>
      <div class="controls">
        <%= f.text_field :first_name, readonly: super_admin? %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :middle_name, class: 'control-label' %>
      <div class="controls"><%= f.text_field :middle_name, readonly: super_admin? %></div>
    </div>

    <div class="control-group">
      <%= f.label :last_name, class: 'control-label' %>
      <div class="controls"><%= f.text_field :last_name, readonly: super_admin? %></div>
    </div>

    <% if @profile.user.nil? || !@profile.user.admin? %>
        <div class="form-actions">
          <div class="pull-right"><%= f.submit class: 'btn btn-primary' %></div>
        </div>
    <% end %>
<% end %>