<div class="profiles">
  <ul class="profiles">
    <% if (@profiles.empty?) %>
        <li class="profile-list-empty">
          No Profile Exists
        </li>
    <% end %>

    <% @profiles.each do |profile| %>
        <li>
          <% if super_admin? %>
              <div class="pull-right close">
                <a href="#delete-profile-modal<%= profile.id %>" data-toggle="modal">&times;</a>
              </div>
          <% end %>

          <div id="delete-profile-modal<%= profile.id %>" class="modal hide fade">
            <div class="modal-body">Are you sure you want to delete this profile?</div>
            <div class="modal-footer">
              <%= link_to 'Yes', profile, method: :delete, class: "btn btn-danger" %>
              <a class="btn" data-dismiss="modal">No</a>
            </div>
          </div>

          <div class="item-header">
            <img src="<%= image_path "profile.gif" %>"/>
                  <span class="full-name">
                    <a href="<%= profile_url(profile) %>">
                      <%= profile.full_name %>
                    </a>
                  </span>
            <% if (!profile.user.nil?) %>
                <span class="email"><%= profile.user.email %></span>
            <% end %>
          </div>
          <div class="details">
            <div class="item-offices">
              <span class="title">OFFICES</span>
            </div>

            <% if (!profile.user.nil?) && (can? :manage, Role)%>
                <div class="item-privileges">
                  <span class="title">PRIVILEGES</span>
                  <ul class="roles">
                    <% Role.roles.each do |role| %>
                        <li class="<%= role_class(profile.user, role) %>">
                          <a class="role"  href="<%= role_link(profile.user, role) %>">
                            <span class="name"><%= role %></span></a>
                          </span>
                        </li>
                    <% end %>
                  </ul>
                </div>
            <% end %>
          </div>

          <% if !profile.has_account? %>
              <div class="create-account pull-left">
                <a href="#account-form-modal" data-toggle="modal">Create Account</a>
              </div>

              <div id="account-form-modal" class="modal hide fade">
                <div class="modal-header"><h3>Create Account for <%= profile.full_name %></h3></div>
                <div class="modal-body"><%= render 'user-form', profile: profile %></div>
              </div>
          <% end %>

          <div class="item-last-login">
            <% if !profile.user.nil? && !profile.user.current_sign_in_at.nil? %>
                Last logged in
                <span class="absolute-date"><%= date_absolute_format(profile.user.current_sign_in_at) %></span>
                <span class="relative-date"><%= date_relative_format(profile.user.current_sign_in_at) %></span>
            <% end %>
          </div>
        </li>
    <% end %>
  </ul>
</div>