<%= form_for @user, url: {action: 'create_from_profile', controller: 'users'}, html: {class: 'form-horizontal', id: 'create-account-form'} do |f| %>

    <div class="form-error alert alert-error hide">
    </div>

    <input id="profile_id" type="hidden" name="user[profile_id]" value="<%= profile.id %>"/>

    <div class="control-group">
      <label class="control-label">Username</label>

      <div class="controls"> <%= f.text_field :username %></div>
    </div>

    <div class="control-group">
      <label class="control-label">Email</label>

      <div class="controls"> <%= f.email_field :email %></div>
    </div>

    <div class="control-group">
      <label class="control-label">Password </label>

      <div class="controls"> <%= f.password_field :password %></div>
    </div>

    <div class="control-group">
      <label class="control-label">Confirm Password</label>

      <div class="controls"> <%= f.password_field :password_confirmation %></div>
    </div>

    <div class="form-actions">
      <%= f.submit "Create Account", class: "btn btn-primary" %>
      <a href="#" class="btn" data-dismiss="modal">Cancel</a>
    </div>
<% end %>