<%= stylesheet_link_tag "profiles" %>
<%= javascript_include_tag "profiles" %>

<div class="profiles">
  <h2>Profiles</h2>

  <div>
    <div class="left span6">
      <div class="controls">
        <form class="form-inline">
          <input class="span4" type="text" placeholder="Find for names, position and privileges"/>
        </form>

        <a class="btn toggle-profile-form pull-right" href="#"><i class="icon-plus"></i> Create Profile</a>
      </div>

      <div class="profile-form well well-small">
        <h2>New Profile</h2>
        <%= render 'form' %>
      </div>
      <%= render 'profile' %>

    </div>
    <div class="activities span5">
      <div class="header">
        RECENT ACTIVITIES
      </div>

      <ul class="profile-activities">
        <li class="no-activities"> No Recent Activities</li>
      </ul>
    </div>
  </div>
</div>