<%= stylesheet_link_tag "profiles" %>
<%= javascript_include_tag "profiles" %>

<div class="view-profile">
  <div class="row">
    <div class="full-name span12">
      <img class="pull-left profile" src="<%= image_path "profile.gif" %>" width="64" height="64"/>

      <div class="pull-left main">
        <span class="full-name"><%= @profile.full_name %></span>
        <% if (!@profile.user.nil?) %>
            <span class="email"><%= @profile.user.email %></span>
        <% end %>
      </div>
      <div class="pull-left">

        <% if (!@profile.user.nil?) %>
            <% if current_user.profile == @profile %>
                <a href="#edit-account-modal" data-toggle="modal">Edit Account</a>

                <div id="edit-account-modal" class="modal fade hide">
                  <div class="modal-header well well-small"><h2>Edit Account</h2></div>
                  <div class="modal-body">
                    <%= render 'users/edit', user: current_user %>
                  </div>
                </div>

                <% if !current_user.admin? %>
                    <%= render 'profiles/edit_profile_modal' %>
                <% end %>
            <% end %>

        <% elsif current_user.admin? %>
            <%= render 'profiles/edit_profile_modal' %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="offices span4">
      <header>OFFICES</header>

    </div>

    <% if !@profile.user.nil? && (can? :manage, Role) %>
        <div class="privileges span4">
          <header>PRIVILEGES</header>

          <ul class="roles">
            <% Role.roles.each do |role| %>
                <li class="<%= role_class(@profile.user, role) %>">
                  <a class="role" href="<%= role_link(@profile.user, role) %>">
                    <span class="name"><%= role %></span></a>
                  </span>
                </li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="forms span4">
      <header>SCHEDULED FORMS</header>
    </div>
  </div>
</div>