<div class="phones">
	<h4>Contact Numbers</h4>
	<% object.phones.each do|phone| %>
	<%= render 'phones/fields' , :phone => phone, :exists => @exists, :object => object%>
	<% end %>
</div>

<div class="Add Line">
	<p>
		<%= add_phone object%>
	</p>
</div>