<div class='phone form-inline' id='phone_<%= phone.id%>'>
	<% if(exists) %>
	<input name = '<%= to_name object%>[phones_attributes][<%= phone.id%>][id]' type='hidden' value= '<%= phone.id %>' />
	<% end %>

	<p>
		<%= delete_phone(object,phone.id,exists) %>
		<label id='<%= to_name object%>_phones_attributes_<%= phone.id%>_type'>Type</label>
		<%= select "#{to_name object}[phones_attributes][#{phone.id}]", 'type' ,@phone_types, {:selected => phone.type, :prompt=> 'Type'}, {:class => 'input-small'} %>

		<label id='<%= to_name object%>_phones_attributes_<%= phone.id%>_number'>Number</label>
		<input name= '<%= to_name object%>[phones_attributes][<%= phone.id%>][number]' class = "input-medium" type='text' value= '<%= phone.number %>' placeholder="Contact number"/>
	</p>
</div>
