<div>
	<h4>Contact numbers</h4>
	<% if object.phones.size ==0 %>
	<div>&emsp; No contact numbers yet</div>
	<% else %>
	<% object.phones.each do|phone| %>
	<div>
		&emsp;
		<%= phone_value phone.type %>
		<%= phone.number %>
	</div>
	<% end%>
	<% end%>
</div>