<%= form_for(@office) do |f| %>
<% if @office.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@office.errors.count, "error") %> prohibited this office from being saved:</h2>

	<ul>
		<% @office.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>

<p class="name">
	<%= f.label :name %>
	<%= f.text_field :name , :placeholder => "Name"%>
</p>

<p class="category">
	<%= f.label :category %>
	<%= f.select :category, @office_categories,{}, {:class =>"input-medium"} %>
</p>

<%= render "phones/edit", :object=>@office %>
<br />

<div class="form-actions">
	<input type="submit" class="btn btn-primary" value="<%= @office.new_record? ? "Create" : "Save Changes" %>" />
	<%= link_to 'Back',  @office.new_record? ? offices_path : office_path, {:class=>:btn} %>
</div>
<% end %>
