<h1>Offices</h1>
<hr />

<table class="table table-striped">
	<thead>
		<tr>
			<td><h3>Office name</h3></td>
		</tr>
	</thead>

	<tbody>
		<% @offices.each do |office| %>
		<tr>
			<td>
			<div>
				<%= office.name %>
				&emsp;
				<span id="line-commands"> <%= link_to 'APPs', office_app_offices_path(office) %> |
					<%= link_to 'Show', office %> |
					<%= link_to 'Edit', edit_office_path(office) %> |
					<%= link_to 'Destroy', office, method: :delete, data: { confirm: 'Are you sure?' } %> </span>
			</div></td>
		</tr>
		<% end %>
	</tbody>
</table>

<div class="form-actions">
	<a href="<%= new_office_path%>" class="btn btn-primary">Create New Office</a>
</div>
