<h1>
	<%= @office.name %>
</h1>
<hr />

<div>
	<b>Category: </b>
	<%= category_value @office.category %>
</div>

<br />

<%= render "phones/show", :object => @office %>
<br />

<div class="form-actions">
<%= link_to 'View APPs', office_app_offices_path(@office), {:class=>"btn btn-primary"} %>
<%= link_to 'Edit', edit_office_path(@office), {:class=>"btn"} %>
<%= link_to 'Back', offices_path, {:class=>"btn"} %>
</div>
