<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @employee.first_name %>
</p>

<p>
  <b>Middle name:</b>
  <%= @employee.middle_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @employee.last_name %>
</p>


<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
