<%= javascript_include_tag "signup" %>

<div class="container">
  <h2>Sign up</h2>
</div>

<%= form_for @user, url: new_user_registration_path, html: {class: "form-horizontal span15 offset10"} do |f| %>

    <div class="control-group <%= class_error(@user, :email) -%>">
      <label class="control-label">Email</label>

      <div class="controls">
        <input type="email" name="user[email]" size="30" value="<%= @user.email -%>"
               title="<%= tooltip @user, :email -%>">
        <span>
      </div>
    </div>

    <div class="control-group <%= class_error(@user, :username) -%>">
      <label class="control-label">Username</label>

      <div class="controls">
        <input type="email" name="user[username]" size="30" value="<%= @user.username -%>"
               title="<%= tooltip @user, :username -%>">
        <span>
      </div>
    </div>

    <div class="control-group <%= class_error(@user, :password) -%>">
      <label class="control-label">Password </label>

      <div class="controls">
        <input type="password" name="user[password]" size="30" title="<%= tooltip @user, :password -%>">
      </div>
    </div>

    <div class="control-group <%= class_error(@user, :password_confirmation) -%>">
      <label class="control-label">Confirm Password</label>

      <div class="controls">
        <input type="password" name="user[password_confirmation]"
               title="<%= tooltip @user, :password_confirmation -%>">
      </div>
    </div>

    <%= f.fields_for :profile do |profile| %>
        <div class="control-group <%= class_error(@user.profile, :first_name) -%>">
          <label class="control-label">First Name</label>
          <div class="controls">
            <input type="text" name="user[profile_attributes][first_name]" value="<%= @user.profile.first_name -%>"
                   title="<%= tooltip @user.profile, :first_name -%>">
          </div>
        </div>

        <div class="control-group <%= class_error(@user.profile, :middle_name) -%>">
          <label class="control-label">Middle Name</label>
          <div class="controls">
            <input type="text" name="user[profile_attributes][middle_name]" value="<%= @user.profile.middle_name -%>"
                   title="<%= tooltip @user.profile, :middle_name -%>">
          </div>
        </div>

        <div class="control-group <%= class_error(@user.profile, :last_name) -%>">
          <label class="control-label">Last Name</label>

          <div class="controls">
            <input type="text" name="user[profile_attributes][last_name]" value="<%= @user.profile.last_name -%>"
                   title="<%= tooltip @user.profile, :last_name -%>">
          </div>
        </div>
    <% end %>

    <div class="control-group offset5">
      <%= f.submit "Sign up", class: "btn btn-primary" %>
      <br/>
      <%= render "devise/shared/links" %>
    </div>
    </div>
<% end %>
