<div class="row">

  <div class="span9">
    &nbsp;
  </div>

  <div class="span7">

    <span class="pull-right">
      <%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
        <%= link_to "Forgot your password?", new_password_path(resource_name) %>
    <% end -%>
    </span>

     <span class="pull-left">
      <%- if devise_mapping.registerable? && controller_name != 'registration' %>
        <%= link_to "Sign up", new_user_registration_path %>
    <% end -%>
    </span>

  </div>
  <div class="span8">
    &nbsp;
  </div>
</div>


<div>
  <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
      <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %>
      <br/>
  <% end -%>

  <%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
      <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %>
      <br/>
  <% end -%>

  <%- if devise_mapping.omniauthable? %>
      <%- resource_class.omniauth_providers.each do |provider| %>
          <%= link_to "Sign in with #{provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider) %>
          <br/>
      <% end -%>
  <% end -%>
</div>