<%= form_for @article, html: {class: "form-article form-horizontal span12 offset6"} do |f| %>
    <% if @article.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

          <ul>
            <% @article.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="control-group">
      <div class="control-label">Name</div>
      <div class="controls">
        <input id="article_name" name="article[name]" size="30" type="text" value="<%= @article.name -%>"/>
      </div>
    </div>

    <div class="control-group">
      <div class="control-label">Code</div>
      <div class="controls">
        <input id="article_code" name="article[code]" size="30" type="text"/>
      </div>
    </div>

    <div class="control-group">
      <div class="control-label">Unit</div>
      <div class="controls">
        <input id="article_unit" name="article[unit]" size="30" type="text"/>
      </div>
    </div>


    <div class="control-group">
      <div class="control-label">Category</div>
      <div class="controls">
        <%= collection_select(:article, :article_category_id, ArticleCategory.all, :id, :name) %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit class: "btn btn-primary" %>
    </div>
<% end %>
