<h1>Listing articles</h1>

<table>
  <tr>
    <th>Number</th>
    <th>Name</th>
    <th>Unit</th>
    <th>Category</th>
    <th></th>
    <th></th>
    <th></th>

  </tr>

<% @articles.each do |article| %>
  <tr>
    <td><%= article.name %></td>
    <td><%= article.code %></td>
    <td><%= article.unit %></td>
    <td><%= link_to 'Show', article %></td>
    <td><%= link_to 'Edit', edit_article_path(article) %></td>
    <td><%= link_to 'Destroy', article, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Article', new_article_path %>
