<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @article.name %>
</p>

<p>
  <b>Number:</b>
  <%= @article.code %>
</p>

<p>
  <b>Unit:</b>
  <%= @article.unit %>
</p>

<p>
  <b>Category:</b>
  <%= @article.article_category.name%>
</p>


<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
