<%=  javascript_include_tag "pr_keylistener"%>

<%= form_for(@purchase_request) do |f| %>
<% if @purchase_request.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@purchase_request.errors.count, "error") %> prohibited this purchase_request from being saved:</h2>

	<ul>
		<% @purchase_request.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>

<div class="form-inline">
	<div class="control-group">
		PR No:
		<%= f.text_field :pr_no , {:class=>"input-small"}%>
		Date:
		<%= f.date_select :pr_date, {} , {:class=>"input-small"}%>
	</div>
</div>

<div class="form-inline">
	<div class="control-group">
		SAI No:
		<%= f.text_field :sai_no , {:class=>"input-small"}%>
		Date:
		<%= f.date_select :sai_date, {} , {:class=>"input-small"}%>
	</div>
</div>

<div class="form-inline">
	<div class="control-group">
		ALOBS No:
		<%= f.text_field :alobs_no , {:class=>"input-small"}%>
		Date:
		<%= f.date_select :alobs_date,{} , {:class=>"input-small"}%>
	</div>
</div>
<br />

<%= render "pr_table", :for_form=>true %>

<div class="form-inline">
	<div class="control-group">
		<%= f.label :purpose %>
		<% if @purchase_request.app %>
		: <%= @purchase_request.purpose %>
		<% else %>
		<%= f.text_field:purpose, {:class=>"input-xlarge"} %>
		<% end %>
	</div>
</div>

<div class="form-actions">
	<input type="submit" value='<%= @purchase_request.new_record? ? "Create" : "Save Changes"%>' class="btn btn-primary" />
	<%= link_to 'Back', @purchase_request.new_record? ? purchase_requests_path : purchase_request_path , {:class=>"btn"}%>
</div>
<% end %>
