<table class="table table-striped">
	<thead>
		<tr>
			<th width="200px">Item</th>
			<th width="100px">Price</th>
			<th>Quantity</th>
		</tr>
	</thead>

	<tbody>
		<% @purchase_request.pr_lines.each do|pr_line| %>
		<tr>
			<%= render for_form ? "pr_line_fields" : "pr_line_view", :pr_line => pr_line %>
		</tr>
		<% end %>
	</tbody>
</table>