<td> <%= pr_line.item.full_name if pr_line.item.respond_to? :full_name%>
<input type="<%= pr_line.item==nil ? 'text':'hidden' %>" id="item_field" name="purchase_request[pr_lines][<%= pr_line.id %>][item][id]" value="<%= pr_line.item.id if pr_line.item != nil%>" data-source = "" data-provide="typeahead" data-url="<%= suggestions_purchase_request_path(@purchase_request.id) %>" data-hook="item_<%= pr_line.id%>"/>
</td>
<% if @exists %>
<input type="hidden" name="purchase_request[pr_lines][<%= pr_line.id %>][id]" value='<%= pr_line.id %>'/>
<% end %>
<td> <%= pr_line.price %>
<input type="hidden" name="purchase_request[pr_lines][<%= pr_line.id %>][price]" value='<%= pr_line.price %>'  class="input-small" />
</td>
<td> <% if @purchase_request.app%>
<%= pr_line.quantity %>
<input type="hidden" name="purchase_request[app][id]" value="<%= @purchase_request.app.id %>" />
<% end%>
<input type='<%= @purchase_request.app == nil ? "text":"hidden" %>' name="purchase_request[pr_lines][<%= pr_line.id %>][quantity]" value='<%= pr_line.quantity %>'  class="input-small"/>
</td>
