<h1>Purchase Requests</h1>
<hr />

<table class="table table-striped">
	<tr>
		<th width="75px">Pr no</th>
		<th>Purpose</th>
	</tr>

	<% @purchase_requests.each do |purchase_request| %>
	<tr>
		<td><%= purchase_request.pr_no %></td>
		<td><%= purchase_request.purpose %> &emsp;
		<dib>
			<%= link_to 'Show', purchase_request %> |
			<%= link_to 'Edit', edit_purchase_request_path(purchase_request) %> |
			<%= link_to 'Destroy', purchase_request, method: :delete, data: { confirm: 'Are you sure?' } %>
		</div>
		</td>
	</tr>
	<% end %>
</table>

<div class="form-actions">
<%= link_to 'New Purchase request', new_purchase_request_path , {:class=>"btn btn-primary"}%>
</div>
