<h1>Purchase Request no:  <%= @purchase_request.pr_no %></h1>
<hr />

<div>
	<div>
		<b>Date:</b>
		<%= @purchase_request.pr_date.to_formatted_s(:long)  %>
	</div>
</div>

<% if !@purchase_request.sai_no.empty? %>
<div class="sai">
	<div>
		<b>Sai no:</b>
		<%= @purchase_request.sai_no%>
	</div>

	<div>
		<b>Sai date:</b>
		<%= @purchase_request.sai_date.to_formatted_s(:long)  %>
	</div>
</div>
<% end %>

<% if !@purchase_request.alobs_no.empty? %>
<div>
	<div>
		<b>Alobs no:</b>
		<%= @purchase_request.alobs_no %>
	</div>

	<div>
		<b>Alobs date:</b>
		<%= @purchase_request.alobs_date.to_formatted_s(:long) %>
	</div>
</div>
<% end %>

<div>
	<b>Purpose:</b>
	<%= @purchase_request.purpose %>
</div>
<br />

<%= render "pr_table", :for_form => false %>

<div class="form-actions">
	<%= link_to 'Edit', edit_purchase_request_path(@purchase_request) , {:class=>"btn btn-primary"}%>
	<%= link_to 'Back', purchase_requests_path , {:class=>:btn}%>
</div>
