<style type="text/css">

    label {
        font-size: 14px;
        font-family: 'ZineSansMed';
    }

    span.help-block {
        font-family: 'ZineSansReg';
        font-size: 14px;
        color: #777;
    }
</style>

<%= javascript_include_tag 'users' %>

<%= form_for(user, :url => user_registration_path, :html => {id: 'edit-user', class: 'form-horizontal', :method => :put}) do |f| %>

    <div class="form-error hide alert alert-error">

    </div>

    <div class='control-group'>
      <%= f.label :email, class: 'control-label' %>
      <div class="controls"><%= f.email_field :email %></div>
    </div>

    <%= f.hidden_field :username %>

    <div class="control-group">
      <%= f.label :password, class: 'control-label' %>
      <div class="controls"><%= f.password_field :password, :autocomplete => "off" %>
        <span class="help-block">Leave blank if you don't want to change it</span>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :password_confirmation, class: 'control-label' %>
      <div class="controls"><%= f.password_field :password_confirmation %></div>
    </div>

    <div class="control-group">
      <%= f.label :current_password, class: 'control-label' %>
      <div class="controls"><%= f.password_field :current_password %>
        <span class="help-block">We need your current password to confirm your changes</span>
      </div>
    </div>

    <div class="form-actions">
      <div class="pull-right"><%= f.submit "Update", class: 'btn btn-primary' %></div>
    </div>
<% end %>