<%= form_for @user, html: {class: "form-horizontal span9 offset6"} do |f| %>

    <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
          <ul>
            <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="control-group">
      <label class="control-label">Username</label>

      <div class="controls"> <%= f.text_field :username %></div>
    </div>

    <div class="control-group">
      <label class="control-label">Email</label>

      <div class="controls"> <%= f.email_field :email %></div>
    </div>

    <div class="control-group">
      <label class="control-label">Password </label>

      <div class="controls"> <%= f.password_field :password %></div>
    </div>

    <div class="control-group">
      <label class="control-label">Confirm Password</label>

      <div class="controls"> <%= f.password_field :password_confirmation %></div>
    </div>

    <%= f.fields_for :profile do |profile| %>
        <div class="control-group">
          <label class="control-label">First Name</label>

          <div class="controls"> <%= profile.text_field :first_name %>  </div>
        </div>

        <div class="control-group">
          <label class="control-label">Middle Name</label>

          <div class="controls"><%= profile.text_field :middle_name %></div>
        </div>

        <div class="control-group">
          <label class="control-label">Last Name</label>

          <div class="controls">  <%= profile.text_field :last_name %></div>
        </div>
    <% end %>

    <div class="control-group">
      <%= f.submit "Create Account", class: "btn btn-primary" %>
    </div>
<% end %>
