<p id="notice"><%= notice %></p>

<p>
 <%= @user.profile.full_name -%>
  <br/>

  <b>Email Address</b> <%= @user.email %>
  <br/>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
