<div class="contacts">
	<h4>Contacts</h4>
	<% object.contacts.each do|contact| %>
	<%= render 'contacts/fields' , :contact => contact, :exists => @exists%> 
	<% end %>
</div>

<div class="Add Line">
	<p>
		<%= add_contact%>
	</p>
</div>