<div>
	<h4>Contact persons</h4>
	<% if object.contacts.size ==0 %>
	<div>
		&emsp; No contact persons yet
	</div>
	<% else %>
	<% object.contacts.each do|contact| %>
	<div>
		&emsp;
		<%= contact.name %>
	</div>
	<% end%>
	<% end%>
</div>