<header id="main-nav" class="navbar navbar-inverse navbar-fixed-top">
  <div id="main-nav-inner" class="navbar-inner">
    <div class="container">
      <ul class="nav">
        <li class="brand">
          <%= link_to 'iSupply', root_path %>
        </li>
      </ul>

      <% if signed_in? %>
          <ul class="nav">

            <% if can? :read, Item %>
                <li>
                  <a href="<%= items_path %>" class="">Items </a>
                </li>
            <% end %>

            <% if can? :read, Profile %>
                <li>
                  <a href="/profiles">Profiles</a>
                </li>
            <% end %>

            <% if can? :read, Office %>
                <li>
                  <a class="" href="<%= offices_path %>"> Offices</a>
                </li>
            <% end %>

            <% if can? :read, Supplier %>
                <li>
                  <a class="" href="<%= suppliers_path %>"> Suppliers</a>
                </li>
            <% end %>
            
            <% if can? :read, PurchaseRequest %>
                <li>
                  <a class="" href="<%= purchase_requests_path %>"> Purchase Requests</a>
                </li>
            <% end %>
          </ul>

          <ul class="nav pull-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <div id="full-name">
                  <%= current_user.profile.full_name -%> <b class="caret"></b>
                </div>
                <div id="main-role">
                  <%= current_user.roles.first.name.upcase -%>
                </div>
              </a>
              <ul class="dropdown-menu">
                <li><a href="<%= profile_path(current_user.profile) %>">
                  <i class="icon-user"></i>
                  View Profile
                </a>
                <li class="divider"></li>
                <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
              </ul>
            </li>
          </ul>
      <% end %>
    </div>
  </div>
</header>
