<div  id="login-container">

  <header id="login-header">
    iSupply
  </header>

  <div id="login-form">

    <%= form_for(resource, as: resource_name, url: user_session_path) do |f| %>

        <div class="row">
          <div class="span5">
            <span class="pull-right">Login</span>
          </div>
          <div class="span6">
            <span class="pull-left"> <%= f.text_field :login, class: "span3", placeholder: 'Email or username' %></span>
          </div>
        </div>

        <div class="row">
          <div class="span5">
            <span class="pull-right">Password</span>
          </div>
          <div class="span6">
            <span class="pull-left"><%= f.password_field :password, class: "span3" %></span>
          </div>
        </div>

        <div class="row">
          <div class="span5">
            &nbsp;
          </div>
          <div class="span2">
            <% if devise_mapping.rememberable? -%>
              <span class="pull-left">
                <%= f.check_box :remember_me %> <%= f.label :remember_me, style: "display: inline;" %>
              </span>
            <% end %>
          </div>
          <div class="span1">
            <span class="pull-right"><%= f.submit "Sign in", class: "btn btn-primary" %></span>
          </div>
        </div>
    <% end %>

    <!--<%= render "devise/shared/links" %>-->
  </div>


</div>