<%= javascript_include_tag "jquery-ui.autocomplete" -%>
<%= javascript_include_tag "items-form" -%>
<%= javascript_include_tag 'article-category' %>
<%= stylesheet_link_tag "jquery.ui.autocomplete-bootstrap" -%>

<%= form_for @item, html: {class: "form-item form-horizontal span6 offset3"} do |f| %>

    <% if @item.errors.any? %>
        <div id="error_explanation">
          <ul>
            <% @item.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <% if @article.errors.any? %>
        <div id="error_explanation">
          <ul>
            <% @article.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <% if @category.errors.any? %>
        <div id="error_explanation">
          <ul>
            <% @category.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <!------------------------ Article Category ------------------------>

    <div class="control-group">
      <div class="control-label">Category Name</div>
      <div class="controls">
        <input id="category-name" name="category[name]" size="30" type="text" value="<%= @category.name -%>"/>
      </div>
    </div>

    <div class="control-group">
      <div class="control-label"> Code</div>
      <div class="controls">
        <input id="category-code" name="category[code]" size="30" type="text" value="<%= @category.code -%>"/>
      </div>
    </div>

    <!------------------------ Article ------------------------>

    <div class="control-group">
      <div class="control-label">Article Name</div>
      <div class="controls">
        <input name="article[name]" size="30" type="text" value="<%= @article.name -%>"/>
      </div>
    </div>

    <div class="control-group">
      <div class="control-label">Code</div>
      <div class="controls">
        <% if current_page? new_item_path %>
            <input name="article[code]" size="30" type="text" value="<%= @category.last_code + 1-%>"/>
        <% else %>
            <input name="article[code]" size="30" type="text" value="<%= @article.code -%>"/>
        <% end %>
      </div>
    </div>

    <!------------------------ Item ------------------------>
    <div class="control-group">
      <div class="control-label">Item Code</div>
      <div class="controls">
        <input id="item_code" name="item[code]" size="30" type="text" value="<%= @item.code-%>"/>
      </div>
    </div>

    <div class="control-group">
      <div class="control-label">Stock #</div>
      <div class="controls">
        <input id="item_stock_number" type="text" value="<%= @item.stock_number %>" readonly=""/>
      </div>
    </div>

    <div class="control-group">
      <div class="control-label">Specification</div>
      <div class="controls">
        <input id="item_specification" name="item[specification]" size="30" type="text" value="<%= @item.specification -%>"/>
      </div>
    </div>

    <div class="control-group">
      <div class="control-label"> Unit</div>
      <div class="controls">
        <input name="item[unit]" size="30" type="text" value="<%= @item.unit -%>"/>
      </div>
    </div>

    <div class="control-group">
      <div class="control-label">Price</div>
      <div class="controls">
        <input id="item_price" name="item[price]" size="30" type="text" value="<%= @item.price -%>"/>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit :class => "btn btn-primary" %>
    </div>
<% end %>
