<div class="items">
	<table class="table table-striped">
		<thead>
			<tr>
				<td colspan="3"><h3>Items List</h3></td>
			</tr>
		</thead>
		<tbody>
			<% @item_category.each do|category| %>
			<% if has_category object, category %>
			<tr >
				<td colspan="3" style="text-align:center; vertical-align:middle"><h4> <%= category.name%> </td> </h4>
			</tr>
			<% category.articles.each do |article|%>
			<% if(has_article object, article) %>
			<tr>
				<td colspan="3"> <%= article.name%> </td>
			</tr>
			<% article.items.each do |item| %>
			<% if object.items.include? item  %>
			<tr>
				<td width="20px"></td>
				<td colspan="2"><%= item.specification %></td>
			</tr>
			<% end %>
			<% end %>
			<% end %>
			<% end %>
			<% end %>
			<% end %>
		</tbody>
	</table>
</div>