<tr>
	<td width="1px">
	<input type = "checkbox" name = "selected_items[]" <%= "checked" if object.items.include? item%> value = '<%= item.id%>'>
	</td>
	<td width="250px"> <%= item.full_name%> </td>
	<td><%= item.price %></td>
</tr>
