<%= javascript_include_tag "items" %>
<%= javascript_include_tag "jquery.contextMenu" %>
<%= stylesheet_link_tag "jquery.contextMenu" -%>
<%= stylesheet_link_tag "items" -%>

<div class="span12 pull-left">
  <h2 class="pull-left">Items</h2>

  <div class="add-item">
    <a href="<%= new_item_url %>" class="btn"><i class="icon-plus"></i> Item</a>
  </div>
</div>

<nav class="category pull-left">
  <h3>Categories</h3>
  <ul class="">
    <% @categories.each do |cat| %>
        <li class="cat">
          <a href="<%= edit_article_category_path(cat) %>"><%= cat.name %></a>
        </li>
        <li class="add-item">
          <a class="add-item-cat" href="<%= new_item_url %>?cid=<%= cat.id %>"><i class="icon-plus"></i> Item</a>
        </li>
    <% end %>
  </ul>
  <div class="new-category">
      <a href="#new-category-modal" data-toggle="modal"><i class="icon-plus"></i> Category</a>

    <div id="new-category-modal" class="modal fade hide">
      <div class="modal-header"><h3>New Article Category</h3></div>
      <div class="modal-body"><%= render 'article_categories/form' %></div>
    </div>
  </div>
</nav>

<div class="items">
  <header>
    <h3 class="pull-left">Articles and Specifications</h3>
    <!--<form class="form form-search pull-right">-->
    <!--<input type="text" placeholder="Search Articles">-->
    <!--</form>-->
  </header>

  <%- @result.each do |cat, articles| -%>
      <div class="category-items">
        <header>
          <div class="category">
            <%= cat.name %>
            <a class="add-item-cat" href="<%= new_item_url %>?cid=<%= cat.id %>"><i class="icon-plus"></i> Item</a>
          </div>
          <div class="stock-number">Stock #</div>
          <div class="unit-price">Unit Price</div>
        </header>
        <ul class="items">
          <% articles.each do |article, items| %>
              <% items.each do |item| %>
                  <li class="item">
                    <a href=<%= item_path(item) %>>
                      <div class="item">
                        <span class="article"><%= article.name %></span>,
                        <span class="specification"><%= item.specification %></span>
                      </div>
                      <div class="stock-number"><%= item.stock_number %></div>
                      <div class="unit-price">P <%= item.price %>/ <%= item.unit %></div>
                    </a>
                  </li>
                  <li class="add-item">
                    <a  href="<%= new_item_url %>?aid=<%= article.id %>"><i class="icon-plus"></i> Item</a>
                  </li>
              <% end %>
          <% end %>
        </ul>
      </div>
  <% end %>
</div>