<p id="notice"><%= notice %></p>

<p>
  <b>Stock number:</b>
  <%= @item.stock_number %>
</p>

<p>
  <b>Specification:</b>
  <%= @item.specification %>
</p>

<p>
  <b>Price:</b>
  <%= @item.price %>
</p>


<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
