<%= form_for(@college) do |f| %>
    <% if @college.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@college.errors.count, "error") %> prohibited this college from being saved:</h2>

          <ul>
            <% @college.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :name %>
      <br/>
      <%= f.text_field :name %>
    </div>

          <% end %>
