<p>
  <b>Name:</b>
  <%= @college.name %>
</p>

<div>
  <h3>Divisions</h3>
  <% @college.divisions.each do |division| %>
      <p><%= division.name %></p>
  <% end %>
</div>


<%= link_to 'Edit', edit_college_path(@college) %> |
<%= link_to 'Back', colleges_path %>
