<table class="table table-striped">
	<thead>
		<tr>
			<th width="200px">Items</th>
			<th width="50px">Price</th>
			<% @app.app_offices.each do|app| %>
			<th><%= app.office.name %></th>
			<% end %>
		</tr>
	</thead>
	<tbody>
		<% ctr = 0 %>
		<% @item_category.each do|category| %>
		<% if @app_master.has_article_category? category %>
		<tr>
			<td colspan="<%= @app.app_offices.size+2 %>"><h5><%= category.name %></h5></td>
		</tr>
		<% category.articles.each do|article| %>
		<% if @app_master.has_article? article %>
		<% article.items.each do|item| %>
		<% if @app_master.has_item? item  %>
		<%= render "table_line", :line => @app_master.get_line(item), :ctr => ctr%>
		<% ctr+=1 %>
		<% end %>
		<% end %>
		<% end %>
		<% end %>
		<% end %>
		<% end %>
	</tbody>
</table>