<%= form_for [@app_master,@app] do |f| %>
<% if @app.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@app.errors.count, "error") %> prohibited this app from being saved:</h2>

	<ul>
		<% @app.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>

<div>
	<b>Type:</b> <%= category_value @app.office_category %>
	<%= f.text_field :office_category, {:type=>"hidden"} %>
</div>
<br />

<div class="field">
	<b>Control number:</b> &nbsp;
	<%= f.text_field :control_number, {:class => "input-small"} %>
</div>

<br />

<%= render "annual_table_listing"%>

<div class="form-actions">
	<input type="submit" value="<%= @app.new_record? ? "Create" : "Save Changes" %>" class="btn btn-primary"/>
	<%= link_to 'Back', app_master_apps_path , {:class=>"btn"}%>
</div>
<% end %>
