<h1>Consolidated APP</h1>
<hr/>

<div>
	<b>Control number:</b>
	<%= @app.control_number %>
</div>
<br />

<%= render "annual_table_listing"%>

<div class="form-actions">
	<%= link_to 'Make PR', new_purchase_request_path({:class=>App,:object_id=>@app}), {:class=>"btn btn-primary"} %>
	<%= link_to 'Back', app_master_path(@app_master), {:class => "btn"} %>
</div>
