<div class="forms row">
  <% if can? :read, AppOffice %>
      <div class="container-app well well-small span6">
        <div class="header-app">Annual Procurement Plan</div>
        <div class="content-app">

          <% if can? :manage, AppMaster %>
            <%= link_to "Manage APP Templates", AppMaster, :class => "btn" %>
          <% end %>

        </div>
      </div>
  <%- end -%>

  <div class="container-pr well well-small span5">
    <div class="header-pr">
      Purchase Request
    </div>
    <div class="content-pr">
    </div>
  </div>
</div>