h3 {
    font-weight: normal;
}

a {
    color: #000000;
}

div.add-item {
    float: right;
    margin-right: 24px;
}

nav.category {
    width: 200px;
    float: left;
    margin-right: 10px;
}

nav.category > h3 {
    background: #AAA;
    padding: 0px 0 0px 10px;
    color: #ffffff;
}

nav.category div.new-category {
    margin-top: 5px;
}

nav.category ul {
    margin: 3px 0 0 0;
    width: 300px;
}

nav.category ul > li {
    margin-bottom: 2px;
    float: left;
    padding: 5px 0 3px 10px;
}

nav.category ul > li.cat {
    background: #EEE;
    border-right: 3px solid #888;
    width: 187px;
}

nav.category ul > li.add-item {
    display: none;
    width: 50px;
    position: relative;
    right: 260px;
    background: #EEE;
    border-right: none
}

nav.category ul > li a {
    display: block;
}

nav.category ul > li:hover {
    background: #DEDEDE;
}

div.items {
    width: 720px;
    float: left;
    border: 3px solid #EEE;
}

div.items > header {
    background: #AAA;
    height: 22px;
    padding: 3px 10px 3px 10px;
}

div.items > header > h3 {
    float: left;
}

/****************
* List of Items
*****************/
div.items > header input {
    height: 12px;
}

div.category-items {
    float: left;
}

div.category-items header {
    width: 700px;
}

div.category-items ul {
    margin: 0 5px;
    width: 780px;
    float: left;
}

div.category-items ul > li {
    float: left
}

div.category-items ul > li:hover {
    background: #EEE;
}

div.category-items ul > li.item {
    width: 705px;
}

div.category-items ul > li.add-item {
    display: none;
    width: 45px;
    background: #EEE;
}

div.category-items header {
    background: #EEE;
    padding: 5px 10px;
    height: 15px;
}

div.category-items header a.add-item-cat {
    display: none;
}

div.category-items header > div {
    float: left;
}

div.category-items .category {
    width: 400px;
}

div.category-items .item {
    width: 400px;
}

div.category-items .stock-number {
    width: 170px;
}

div.category-items .unit-price {

}

div.category-items ul > li {
    height: 15px;
    padding: 5px;
    margin-top: 2px;
    background: #FEFEFE;
}

div.category-items ul > li div {
    float: left;
}

div.category-items span.article {
    font-weight: bold;
}

div.category-items span.specification {
    font-weight: normal;
}