.profiles h2 {
    text-align: center;
}

.profiles .controls {
    text-align: left;
}

.profiles .controls form {
    display: inline;
}

.profile-form {
    margin: 10px 0 10px;
    display: none;
}

.profile-form form {
    margin-left: 35px;
}

.profile-form .control-group label {
    font-size: 14px;
    text-align: left;
    width: 85px;
}

.profile-form h2 {
    font-size: 16px;
}

ul.profiles > li {
    border-left: 3px solid #777;
    background: #DDD;
    margin-top: 12px;
}

ul {
    margin: 0px;
}

ul.profiles > li {
    float: left;
    font-family: "ZineSansMed";
    width: 100%;
}

ul.profiles > li > div.close {
    display: none;
}

ul.profiles > li > div {
    padding: 8px 8px 0 8px;
}

ul.profiles > li  div.modal-body {
    font-size: 16px;
}

ul.profiles >  li.profile-list-empty {
    height: 30px;
}

ul.profiles >  li .item-header {
    float: left;
    font-size: 16px;
}

ul.profiles > li .item-header img {
    height: 48px;
    width: 48px;
}

ul.profiles >  li .item-header .full-name a {
    vertical-align: top;
}

ul.profiles >  li .item-header .email {
    vertical-align: top;
    color: #878787;
}

ul.profiles >  li .title {
    color: #878787;
}

ul.profiles  > li .details {
    float: left;
    width: 467px;
}

ul.profiles >  li .item-offices {
    width: 216px;
    float: left;
}

ul.profiles >  li .item-privileges {
    width: 216px;
    float: left;
}

ul.profiles >  li .item-privileges ul.roles a {
    font-size: 14px;
}

ul.profiles >  li .item-last-login {
    float: left;
    font-family: "Tahoma";
    width: 467px;
    font-size: 11px;
    padding-bottom: 3px;
    color: #888;
}

ul.profiles >  li .item-last-login span.absolute-date {
    display: none;
}

ul.roles > li {
    float: left;
    margin: 0 5px 5px 0;
    padding: 0 3px 0 5px;
    height: 15px;
    border-radius: 5px;
}

ul.roles > li.role {
    border: solid 1px #888;
}

ul.roles > li.not-role {
    border: solid 1px #CCC;
}

ul.roles > li.role a {
    color: #FFF;
}

ul.roles > li.not-role a {
    color: #777;
}

ul.roles > li.role {
    background: #999;
}

ul.roles > li.not-role {
    background: #CCC;
}

ul.roles > li.role {
    text-shadow: 0 -1px #555;
}

.profiles .activities {
    font-family: "ZineSansMed";
}

.profiles .activities .header {
    background: #DDD;
    padding: 5px 0 2px 5px;
}

.profiles .activities ul.profile-activities {
    padding: 0;
    margin: 0;
}

.profiles .activities ul.profile-activities li {
    height: 39px;
    border-left: 3px solid #DDD;
    margin-top: 4px;
    background: #EEE;
    padding: 5px;
}

.profiles .activities ul.profile-activities li.no-activities {
    height: auto;
}

#account-form-modal {
    width: 450px;
}

#account-form-modal label {
    font-size: 14px;
}

/****************
 Profile Viewing
*****************/
.view-profile div.full-name {
    font-weight: bold;
    font-size: 16px;
    height: 64px;
    margin-bottom: 18px;
}

.view-profile span.full-name {
    vertical-align: top;
}

.view-profile span.email {
    vertical-align: top;
    color: #878787;
}

.view-profile div.full-name img.profile {
    margin-right: 8px;
}

.view-profile div.full-name a {
    font-size: 12px;
}

.view-profile div.full-name div.main {
    width: 850px;
    height: 50px;
}

.view-profile div > header {
    font-family: 'ZineSansMed';
    font-size: 14px;
    color: #878787;
    background: #DDD;
    padding-top: 5px;
    padding-left: 5px;
    margin-bottom: 5px;
}

.view-profile .offices {
    width: 300px;
}

.view-profile .privileges {
    width: 300px;
}





