@font-face {
    font-family: "Zine Reg";
    src: url("/assets/zine-slab-reg.ttf");
}

@font-face {
    font-family: "Zine Med";
    src: url("/assets/zine-slab-med.ttf");
}

@font-face {
    font-family: "ZineSansMed";
    src: url("/assets/zine-sans-med.otf");
}

@font-face {
    font-family: "ZineSansReg";
    src: url("/assets/zine-sans-reg.otf");
}

body {
    font-family: "Zine Reg";
    background: url("/img/bg.jpg");
    font-size: 14px;
}

h3 {
    font-family: "Zine Med";
    font-size: 16px;
}

/*****************************
* Main Container
*****************************/
.container {
    position: relative;
    margin: 0 auto;
}

.main-container {
    margin-top: 70px;
    min-height: 555px;
}

/*****************************
* Main Navigation
*****************************/
#main-nav > div {
    height: 50px;
}

#main-nav  li.brand {
    font-size: 22px;
    padding: 0px;
}

#main-nav > div > div > ul > li > a {
    padding-top: 15px
}

#main-nav > div > div > ul:last-child > li > a {
    padding-bottom: 3px;
    padding-top: 8px;
}

#main-nav .btn {
    margin-top: 0px;

}

#main-nav #full-name {
    font-family: "ZineSansMed";
}

#main-nav #main-role {
    font-family: "ZineSansReg";
    font-size: 12px;
    text-align: right;
    padding-right: 15px;
}

/*****************************
* Account/Profile Nav
*****************************/
ul.account-profile.nav {
    font-size: 16px;
}


/*****************************
* Home
*****************************/
.forms .container-app {
    height: 250px;
}

.forms .container-pr {
    height: 300px;
}

.forms .container-tcf {
    height: 200px;
}

.forms .container-rfq {
    height: 220px;
}

ul {
    list-style-type: none;
}

/****************************
* Login
****************************/
#login-container {
    margin-top: 10%;
}

#login-header {
    font-family: "Zine Med";
    font-size: 62px;
    line-height: 120%;
    text-align: center;
}

#login-form {
    margin: auto auto;
}

form[action="/login"] * {
    margin-bottom: 3px;
}

input[value="Login"] {
    text-align: right;
}

input[name="rememberme"] {
    border: solid;
}

/*****************************
* Article Category
*****************************/
.form-article-category {
    text-align: left;
}

/*****************************
* Article
*****************************/
.form-article {
    text-align: left;
}

/*****************************
* Items
*****************************/
.navbar-items {
    text-align: left;
}

.form-item {
    text-align: left;
}

.list-items .category {
    background-color: #F5F5F5;
}

.list-items .category .category-name {
    color: #000;
}

.list-items .category:hover {
    background-color: #EEE;
}

.list-items .entry-item {
    font-size: 16px;
}

.list-items .entry-item .price-item {
    padding-left: 5px;
    color: #BBB;
    font-size: 14px;
}

.list-items .entry-item .price-item .price-item-amout {
    color: #333;
}

/*****************************
* Footer
*****************************/
.footer, .footer a {
    font-family: "Zine Med";
    color: #BBB;
    width: 98%;
    text-align: center;
}

.footer-nav-list {
    list-style-type: none;
}

.footer-nav-list li {
    float: left;
}

/*****************************
* Main Footer
*****************************/
#main-footer {
    line-height: 120%;
    color: rgb(33, 0, 2);
    padding: 10px;
    height: 32px;
}

#main-footer > div:first-child {
    float: left;
    text-align: left;
    width: 50%;
}

#main-footer > div:last-child {
    float: left;
    text-align: right;
    width: 50%;
}
