<div class='contact form-inline' id='contact_<%= contact.id%>'>
	<% if(exists) %>
	<input name = 'supplier[contacts_attributes][<%= contact.id%>][id]' type='hidden' value= '<%= contact.id %>' />
	<% end %>
	<p>
		<%= delete_contact(contact.id,exists) %>
		<input name= 'supplier[contacts_attributes][<%= contact.id%>][name]' type='text' value= '<%= contact.name %>' placeholder = "Contact name" />
	</p>
</div>
