<%= form_for(@supplier) do |f| %>
<% if @supplier.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@supplier.errors.count, "error") %> prohibited this supplier from being saved:</h2>

	<ul>
		<% @supplier.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>

<div class="field">
	<%= f.label :name %>
	<%= f.text_field :name, {:placeholder=>"Supplier name"}%>
</div>

<div class="field">
	<%= f.label :tin %>
	<%= f.text_field :tin, {:placeholder=>"Tin number"}%>
</div>

<br />

<%= render "phones/edit", :object=>@supplier%>
<br />

<%= render "contacts/edit", :object => @supplier %>
<br />

<%= render "items/items_fields_table", :object => @supplier %>

<div class="form-actions">
	<input type="submit" value=<%= @supplier.new_record? ? "Create":"Save Changes" %> class="btn btn-primary" />
	<%= link_to 'Back', @supplier.new_record? ? suppliers_path : supplier_path , {:class=>"btn"} %>
</div>
<% end %>
