<h1>Suppliers</h1>
<hr />

<table class="table table-striped">
	<thead>
		<tr>
			<th>Name</th>
		</tr>
	</thead>

	<tbody>
		<% @suppliers.each do |supplier| %>
		<tr>
			<td><%= supplier.name %>
			&emsp; <span><%= link_to 'Show', supplier %> |
				<%= link_to 'Edit', edit_supplier_path(supplier) %> |
				<%= link_to 'Destroy', supplier, method: :delete, data: { confirm: 'Are you sure?' } %> </span></td>
		</tr>
		<% end %>
	</tbody>
</table>

<div class="form-actions">
	<%= link_to 'New Supplier', new_supplier_path, {:class=>"btn btn-primary"} %>
</div>
