<h1><%= @supplier.name %></h1>
<hr />

<div>
	<b>Tin number:</b>&ensp; <%= @supplier.tin.empty? ? "None" : @supplier.tin %>
</div>
<br />

<%= render "phones/show", :object=>@supplier%>
<br />

<%= render "contacts/show", :object => @supplier %>
<br />

<%= render "items/items_list", :object =>@supplier %>

<div class="form-actions">
<%= link_to 'Edit', edit_supplier_path(@supplier), {:class => "btn btn-primary"} %>
<%= link_to 'Back', suppliers_path , {:class=>"btn"}%>
</div>
