<%= javascript_include_tag 'article-category' %>

<%= form_for @article_category, html: {class: "form-horizontal form-article-category"} do |f| %>

    <% if @article_category.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@article_category.errors.count, "error") %> prohibited this article_category from being
            saved:</h2>

          <ul>
            <% @article_category.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="control-group">
      <div class="control-label">Name</div>
      <div class="controls">
        <input id="category-name" name="article_category[name]" size="30" type="text" value="<%= @article_category.name -%>"/>
      </div>
    </div>


    <div class="control-group">
      <div class="control-label">Code</div>

      <div class="controls">

        <input id="category-code" name="article_category[code]" size="30" type="text" value="<%= @article_category.code -%>" />

      </div>
    </div>

    <div class="form-actions">
      <%= f.submit class: "btn btn-primary" %>
    </div>
<% end %>
