<div class="span12 offset6">

  <div class="span12">
    <h3 class="pull-left">Edit Article Category</h3>

    <div class="pull-right">
      <a href="#remove-article-category-modal" class="btn" data-toggle='modal'><i class="icon-trash"></i></a>
    </div>
  </div>

  <div id="remove-article-category-modal" class="modal hide fade">
    <div class="modal-header"><h3>Remove Article Category</h3></div>
    <div class="modal-body">Are you sure you want to remove this?</div>
    <div class="modal-footer">
      <%= link_to 'Yes', @article_category, method: :delete, class: 'btn btn-danger' %>
      <a class="btn" data-dismiss="modal">No</a>
    </div>
  </div>

  <%= render 'form' %>

  <%= link_to 'Back', items_path %>
</div>
