<!DOCTYPE html>
<html>
<head>
  <title>ISupply</title>
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag "bootstrap" %>
  <%= stylesheet_link_tag "bootstrap-isupply" %>
  <%= stylesheet_link_tag "style" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "bootstrap" %>
</head>
<body>

<% if signed_in? %>
    <div><%= render "navs/main-nav" %></div>
<% end %>

<div class="main-container container">

  <% if notice %>
      <div class="alert alert-success">
        <%= notice %>
        <span class="close" data-dismiss="alert">&times;</span>
      </div>
  <% end %>

  <% if alert %>
      <div class="alert alert-error">
        <%= alert %>
        <span class="close" data-dismiss="alert">&times;</span>
      </div>
  <% end %>

  <%= yield %>

</div>

<footer id="main-footer">
  <div>
    <div style="font-size: 18px; font-weight: bold;">iSupply</div>
    <div>Inventory and Procurement System for UPVTC</div>
  </div>

  <div>
    <div><img src="/img/icon-dev.png"/> developed and designed by</div>
    <div style="font-size: 14px; font-weight: bold;">CodeInfinity Software Labs, Inc</div>
  </div>
</footer>

</body>
</html>
